<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    {% load socialaccount %}
    {% if user.is_authenticated %}
        <p> Welcome, you are logged in as {{name}}</p>
        <button><a href="{% url 'project_allocation:my_logout' %}">Logout :(</a></button>
    {%else %}
        <a href = "{% provider_login_url 'google' %}?next=/project_allocation/student/">Login With Google!</a>
    {%endif%}
</body>
</html>