<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project_allocation/index_login.css' %}">
</head>
<body>
    <div class="header"> Cluster Allotment
    </div>
    {% load socialaccount %}
    {% if user.is_authenticated %}
    <button style="margin-bottom: 1vw;"><a class ="button_1" href="{% url 'project_allocation:my_logout' %}">Logout :(</a></button>
        <div style="margin-bottom: 1vw;"> <h2>Welcome, you are logged in as <b>{{name}}</b></h2></div>
        <div class= "head" style="margin-left: auto ; margin-right: auto; border: black; width: 20vw;"> Lost? No worries! <a href = "{% url 'project_allocation:choose' %}" style="text-decoration: none;">Click Here!</a> </div>
    {%else %}
        <div class="button"><a class ="button_" href = "{% provider_login_url 'google' %}?next={% url 'project_allocation:choose' %}">Login With Google!</a></div>
    {%endif%}
</body>
</html>