<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Allocation | Instructor | Main Page </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        * {
            font-family: 'Lato';
        }
        body {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% load template_filters %}
    <button style=" margin-left: 3vw; margin-top: 0vw; margin-bottom: 1vw; font-size: 1.2em;"><a href="{% url 'project_allocation:my_logout' %}">Logout :(</a></button>

    <button type="success" style = "margin-left: 50px; margin-top: 40px;">Add project list for new course</button>

    {% for course in courses %}
        <fieldset style= "margin-left: auto; margin-right: auto; width: 90%; margin-bottom: 10px;">
            <legend style="margin-bottom: -10px;"><h1><a href="{% url 'project_allocation:instructor_course' course.id %}">{{course.course_code}}</a></h1></legend>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span> Number of student enrolled: {{ enrollments|get_value_from_dict:course.id }} </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span> Number of projected added: {{ projects|get_value_from_dict:course.id }} </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span> Is_published: {{ pub|get_value_from_dict:course.id }} </span>
        </fieldset>
    {% endfor %}
    
</body>
</html>