<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results | Instructor | Course - {{ course.course_code }} </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project_allocation/instructor.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% load socialaccount %}
    <div class="header"> 
        {% if request.user.is_authenticated %}
        <div class="log_icon"><a id="logout" href="{% url 'project_allocation:my_logout' %}"><i class='bx bx-log-out'></i></a></div>
        {%endif%}
        <div class="heading">Cluster Allotment</div>
    </div>
    {% load template_filters %}

    <h1> Create new project  - {{ course.course_code }} </h1> 

    <fieldset>
            <legend></legend>
            &nbsp;
            <form action="" method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value=" + Add project">
            </form>
    </fieldset>

    <h1> Existing projects  - {{ course.course_code }} </h1> 

    {% for project in projects %}
        <fieldset>
            <legend><div class="heading_form">{{project.project_name}}</div></legend>
            <b>Description : </b><div>
                {{ project.project_description }} 
            </div>
            &nbsp;
            <div >
                <span> Max teams : {{ project.num_teams }} </span>
                &nbsp;
                <span> Max team size : {{ project.team_size }} </span>
            </div>
        </fieldset>
    {% endfor %}
    
</body>
</html>