<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | {{course.course_code}} | Partners</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project_allocation/student_fe.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% load template_filters %}
    {% load socialaccount %}
    <div class="header"> 
        {% if user.is_authenticated %}
        <div class="log_icon"><a id="logout" href="{% url 'project_allocation:my_logout' %}"><i class='bx bx-log-out'></i></a></div>
        {%endif%}
        <div class="heading">Cluster Allotment</div>
    </div>
    {% load template_filters %}
    <br>
    <!-- <button style=" margin-left: 3vw; margin-top: 0vw; margin-bottom: 1vw; font-size: 1.2em;"><a href="{% url 'project_allocation:my_logout' %}">Logout :(</a></button> -->
    <div class="head">
        <span style="float : left; margin-left: 2vw;"> {{s.student_name}}</span>
        <span style="float: right; margin-right: 2vw;">{{s.student_roll_num}}</span>
    </div>
    <br>
    <div class="section" style="margin-top: 2vw; margin-bottom: 2vw;">
        Enter {{course.course_code}} Project Partner Preferences
    </div>

    <fieldset style="width: 90%; margin:auto;">
        <legend class="footer">Enter Friends</legend>
        &nbsp;
        <div>You Roll Number: <span>{{s.student_roll_num}}</span></div>
        <form action="" method=POST>
            {% csrf_token %}
            {{ form_f.as_p }}
            <button type="submit" name="friend">+ Add Friend</button>
        </form>
    </fieldset>
    <br><br>

    <fieldset style="width: 90%;margin:auto;">
        <legend class="footer">Enter Enemies</legend>
        &nbsp;
        <div>You Roll Number: <span>{{s.student_roll_num}}</span></div>
        <form action="" method=POST>
            {% csrf_token %}
            {{ form_e.as_p }}
            <button type="submit" name="enemy">+ Add Enemy</button>
        </form>
    </fieldset>
    <br>
    <div >
        <div class="section">List Of Added Friends</div>
        {%if friends.count%}
            <ul class="lst">
                {% for friend in friends %}
                    <li>{{friend.student_name}}</li>
                {%endfor%}
            </ul>
        {%else%}
            <div class="list">&nbsp;&nbsp;&nbsp;&nbsp;Add Friends you want to work with. It will be fun!</div>
        {%endif%}
    </div>

    <br>
    <div>
        <div class="section">List Of Added Enemies</div>
        {% if enemies.count %}
            <ul class="lst">
                {% for enemy in enemies %}
                    <li>{{enemy.student_name}}</li>
                {%endfor%}
            </ul>
        {%else%}
            <div class="list">&nbsp;&nbsp;&nbsp;&nbsp;-seems like you are fine with everyone!</div>
        {%endif%}
    </div>
    
    <button style=" margin-top: 1vw; margin-bottom: 2vw; font-size: 1.2em;"><a target="_self" href="{% url 'project_allocation:student_index' %} " style="text-decoration: none;">Home <<<< </a></button>
    <button style="float:right ; margin-right: 4vw; margin-top: 2vw; margin-bottom: 2vw; font-size: 1.2em;"> <a href="{% url 'project_allocation:student_course' course.id %}" style="text-decoration: none;"><b>Done!</b></a></button>
</body>
</html>