<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | {{course.course_code}} | Projects</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project_allocation/student_course.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% load socialaccount %}
    <div class="header"> 
        {% if user.is_authenticated %}
        <div class="log_icon"><a id="logout" href="{% url 'project_allocation:my_logout' %}"><i class='bx bx-log-out'></i></a></div>
        {%endif%}
        <div class="heading">Cluster Allotment</div>
    </div>
    {% load template_filters %}
    <br>
    <!-- <button style=" margin-left: 3vw; margin-top: 0vw; margin-bottom: 1vw; font-size: 1.2em;"><a href="{% url 'project_allocation:my_logout' %}">Logout :(</a></button> -->
    <div class="head">
        <span style="float : left; margin-left: 2vw;"> {{student.student_name}}</span>
        <span style="float: right; margin-right: 2vw;">{{student.student_roll_num}}</span>
    </div>

    <br>

    {%if projects.count and published and not computed%}
        {%if taken.count %}
        <br>
        <div class="section">List of <b>Registered</b> Projects for {{course.course_code}}</div>
        <ol class="register">
            {% for project in taken %}
                <li class="lst">{{project.project_name}}<button id="remove_pref"><a class="remove" href="{% url 'project_allocation:student_course_delete' course_id=course.id project_id=project.id %}">Remove</a></button></li>
            {%endfor%}
        </ol>
        {%endif%}
        <!-- ==================================================================================== -->
        <br>
        <div class="section">List of <b>All</b> Projects for {{course.course_code}}</div>
        <ul>
            {% for project in projects %}
            <fieldset >
                <legend style="margin-bottom: 10px; font-size: 1.5em;"><b>{{project.project_name}}</b></legend>
               
                <div class="item" style="margin-bottom: 1vw;">{{project.project_description}}</div>
                <div class="item"> Maximum Team Size: {{ project.team_size }} </div>
            </fieldset>
            {%endfor%}
        </ul>

        <div class="section">Register for New Project:</div>
        <br>
        <fieldset class="form">
            <br>
            <form action="" method=POST>
                {% csrf_token %}
                <span>Enrollment Number:    </span>&nbsp;<b>{{student.student_roll_num}}</b><br>
                {{ form.as_p }}
                <input id="project_button" type="submit" value=" + Add project">
            </form>
        </fieldset>
        
        <div class="footer">
            Total Projects : <span><b>{{num}}</b></span>
        </div>
        <div class="next_b"><a id="next" target="_self" href="{% url 'project_allocation:student_course_partner' course_id=course.id %} "><i class='bx bx-right-arrow-alt'></i></a></div>
        {%endif%}
        {%if projects.count and not published and not computed%}
        <br><br><br>
        <div class="head" style="margin-left: 2em;">Your instructor has decided on some interesting projects but is yet to float them! </div>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        {%endif%}
        {%if projects.count == 0%}
        <br><br><br>
        <div class="head" style="margin-left: 2em;">Your instructor is yet to post fun projects. Hang on! </div>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        {%endif%}

        {%if computed%}
        <div class="button"><a class ="button_" href = "{% url 'project_allocation:student_results' course_id=course.id %}"><i class='bx bx-log-in'></i>&nbsp;&nbsp;View Results!</a></div>
        {%endif%}

    <div class="back_b" ><a id="back" target="_self" href="{% url 'project_allocation:student_index' %} "><i class='bx bx-left-arrow-alt' ></i></a></div>


    
</body>
</html>