<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The student can see all of his registered courses (that offer a project, here) -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Courses</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        * {
            font-family: 'Lato';
        }
        body {
            background-color: #f2f2f2;
            padding-left: 20px;
        }
        h2 {
            padding-bottom: 10px;
        }
        .head{
            font-size: 2em;
        }
    </style>
</head>
<body>
    {% load template_filters %}
    <br>
    <button style=" margin-left: 3vw; margin-top: 0vw; margin-bottom: 1vw; font-size: 1.2em;"><a href="{% url 'project_allocation:my_logout' %}">Logout :(</a></button>
    <div class="head">
        <span style="float : left"> {{user.student_name}}</span>
        <span style="float: right; margin-right: 2vw;">{{user.student_roll_num}}</span>
    </div>
    <br>
    <br>
    <hr>
    {% if courses.count %}
        <h1>List of Enrolled Courses</h1>
        {% for course in courses %}
        <ul>
        <li>
            <h2> <a href="{% url 'project_allocation:student_course' course.id %}" target=_blank>{{course.course_code}}</a></h2>
        </li> 
        </ul>
        {% endfor %}
    {% else %}
        <h2>Please enroll for your favourite courses before continuing! Contact Administrator</h2>
    {%endif%}

</body>
</html>