<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | {{course.course_code}} | Projects</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        * {
            font-family: 'Lato';
        }
        body {
            background-color: #f2f2f2;
            padding-left: 20px;
        }
        h2 {
            padding-bottom: 10px;
        }
        .head{
            margin-left: 2vw;
            font-size: 2em;
        }
        .footer{
            margin-top: 3vw;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    {% load template_filters %}
    <br>
    <div class="head">
        <span style="float : left"> Nipun Mahajan</span>
        <span style="float: right; margin-right: 2vw;">19110127</span>
    </div>
    <br>
    <br>
    <hr>
    
    <div class="head">List of <b>Registered</b> Projects for {{course.course_code}}</div>
    <br><br>
    <div class="head">List of <b>All</b> Projects for {{course.course_code}}</div>
    <ul>
        {% for project in projects %}
        <fieldset style= "margin-left: 1vw; margin-right: auto; width: 90%; margin-bottom: 10px;">
            <legend style="margin-bottom: -10px;"><h1><a href="{% url 'project_allocation:instructor_course' course.id %}">{{project.project_name}}</a></h1></legend>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{project.project_description}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span> Maximum Team Size: {{ project.team_size }} </span>
        </fieldset>
        {%endfor%}
    </ul>

    <div class="head">Register for New Project:</div>
    <fieldset>
        <legend></legend>
        &nbsp;
        <form action="" method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value=" + Add project">
        </form>
    </fieldset>
    

    <div class="footer">
        Total Projects : <span><b>{{num}}</b></span>
    </div>

       
    <button><a target="_self" href="{% url 'project_allocation:student_course_partner' course.id %}">Next</a></button>


    
</body>
</html>