<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The student can see all of his registered courses (that offer a project, here) -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Courses</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        * {
            font-family: 'Lato';
        }
        body {
            background-color: #f2f2f2;
            padding-left: 20px;
        }
        h2 {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    {% load template_filters %}
    <h1>List of Enrolled Courses for : {Name}</h1>
    {% for course in courses %}
    <ul>
       <li>
        <h2> <a href="student_course.html" target=_blank>{{course.course_code}}</a></h2>
       </li> 
    </ul>
    {% endfor %}


</body>
</html>